<!DOCTYPE HTML>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Type some info">
      <meta name="author" content="Type name">
      <title>Website layout sample </title>
      <link href="css/bootstrap.css?v=2.0" rel="stylesheet" type="text/css" />
      <link href="css/ui.css?v=2.0" rel="stylesheet" type="text/css" />
      <link href="css/responsive.css?v=2.0" rel="stylesheet" type="text/css" />
      <link href="fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <br>
        <div class="container tablet mx-auto">
            <section id="searh" class="sticky-top">
                <form action="{{ route('catalog') }}" class="search mobile-p-y">
                    <div class="input-group">
                        <input type="search" name="q" class="form-control" style="width:55%" placeholder="Пошук">
                    </div>
                </form>
            </section>
            <br>
            <section id="info">
                <div class="card">
                    <div class="row">
                    <div class="col-9">
                            <a href="/index-gorizont.html" class=" boxed-link icontext">
                               <span class="icon icon-xs rounded-circle"> 
                                <img width="26" height="26" src="https://w7.pngwing.com/pngs/954/687/png-transparent-telegram-bot-api-chatbot-security-token-internet-bot-telgram-miscellaneous-sticker-fictional-character.png">
                               </span>
                               <span class="text">Іванов іван</span>
                            </a>

                    </div>
                        <div class="col-3 text-end">
                    			<select class="form-select">
                    				<option>UKR</option>
                    				<option>RUS</option>
                    			</select>
                        </div>
                </div>    
                 </div>
                <div class="card">
                    <div class="content-body">
                        <span>Курс валют на 10.08.2022</span>
                       <nav class="row g-3">
                          <div class="col-lg-3 col-md-6">
                            <a href="#" class="box boxed-link icontext">
                               <span class="icon icon-xs rounded-circle"> 
                                <i class="fas fa-dollar-sign"></i>
                               </span>
                               <span class="text">Готівка <b>40.20</b></span>
                            </a>
                          </div>
                          <div class="col-lg-3 col-md-6">
                            <a href="#" class="box boxed-link icontext">
                               <span class="icon icon-xs rounded-circle">
                                 <i class="fas fa-euro-sign"></i>
                               </span>
                               <span class="text">Готівка <b>41,20</b></span>
                            </a>
                          </div>
                        <div class="col-lg-3 col-md-6">
                            <a href="#" class="box boxed-link icontext">
                               <span class="icon icon-xs rounded-circle"> 
                                <i class="fas fa-dollar-sign"></i>
                               </span>
                               <span class="text">Безготівка <b>43,44</b></span>
                            </a>
                          </div>
                          <div class="col-lg-3 col-md-6">
                            <a href="#" class="box boxed-link icontext">
                               <span class="icon icon-xs rounded-circle">
                                 <i class="fas fa-euro-sign"></i>
                               </span>
                               <span class="text">Безготівка <b>44,52</b></span>
                            </a>
                          </div>


                        </nav>
                    </div>
                </div>
                
                <div class="card">
                    <div class="content-body">
                        <span>10.08.2022</span>
                       <nav class="row g-3">
                          <div class="col-lg-4 col-md-6">
                            <a href="#" class="box boxed-link icontext">
                               <span class="icon icon-xs rounded-circle"> 
                                <i class="fas fa-home"></i>
                               </span>
                               <span class="text">Відвідування ТТ <br><b>10 з 23</b></span>
                            </a>
                          </div>
                          <div class="col-lg-4 col-md-6">
                            <a href="#" class="box boxed-link icontext">
                               <span class="icon icon-xs rounded-circle">
                                 <i class="fas fa-cart-arrow-down"></i>
                               </span>
                               <span class="text">Замовлень <br><b>7шт.</b></span>
                            </a>
                          </div>
                        <div class="col-lg-4 col-md-6">
                            <a href="#" class="box boxed-link icontext">
                               <span class="icon icon-xs rounded-circle"> 
                                <i class="fas fa-dollar-sign"></i>
                               </span>
                               <span class="text">Сума  <br><b>500$</b></span>
                            </a>
                          </div>
                        </nav>
                    </div>
                </div>
                
                <div class="card">
                    <div class="content-body">
                        <span>Оплата та заборгованість</span>
                       <nav class="row g-3">
                          <div class="col-lg-4 col-md-6">
                            <a href="#" class="box boxed-link icontext">
                               <span class="icon icon-xs rounded-circle"> 
                                 <i class="fas fa-dollar-sign"></i>
                               </span>
                               <span class="text">Борг<br><b>500$</b></span>
                            </a>
                          </div>
                          <div class="col-lg-4 col-md-6">
                            <a href="#" class="box boxed-link icontext">
                               <span class="icon icon-xs rounded-circle">
                                  <i class="fas fa-dollar-sign"></i>
                               </span>
                               <span class="text">Прострочено<br><b>300$</b></span>
                            </a>
                          </div>
                        <div class="col-lg-4 col-md-6">
                            <a href="#" class="box boxed-link icontext">
                               <span class="icon icon-xs rounded-circle"> 
                                <i class="far fa-calendar-check"></i>
                               </span>
                               <span class="text">Інкасація <br><b>100$</b></span>
                            </a>
                          </div>
                        </nav>
                    </div>
                </div>
                
                <div class="card">
                    <div class="content-body">
                        <span>Чекін</span>
                       <nav class="row g-3">
                          <div class="col-6">
                            <a href="#" class="box boxed-link icontext">
                               <span class="icon icon-xs rounded-circle"> 
                                 <i class="fa fa-map-marker-alt"></i>
                               </span>
                               <span class="text">Початок маршруту</span>
                            </a>
                          </div>
                          <div class="col-6">
                            <a href="#" class="box boxed-link icontext">
                               <span class="icon icon-xs rounded-circle">
                                  <i class="fa fa-map-marker-alt"></i>
                               </span>
                               <span class="text">Кінець маршруту</span>
                            </a>
                          </div>
                        </nav>
                    </div>
                </div>
                <div class="card">
                    <div class="content-body">
                        <span>Синхронізація</span>
                       <nav class="row g-3">
                          <div class="col-lg-4 col-md-6">
                            <a href="#" class="box boxed-link icontext">
                               <span class="icon icon-xs rounded-circle"> 
                                 <i class="fa fa-info-circle"></i>
                               </span>
                               <span class="text">Контент</span>
                            </a>
                          </div>
                          <div class="col-lg-4 col-md-6">
                            <a href="#" class="box boxed-link icontext">
                               <span class="icon icon-xs rounded-circle">
                                  <i class="fa fa-info-circle"></i>
                               </span>
                               <span class="text">Зображеня</span>
                            </a>
                          </div>
                        <div class="col-lg-4 col-md-6">
                            <a href="#" class="box boxed-link icontext">
                               <span class="icon icon-xs rounded-circle"> 
                                <i class="fa fa-info-circle"></i>
                               </span>
                               <span class="text">Залишки</span>
                            </a>
                          </div>
                        </nav>
                    </div>
                </div>
            </section>
            <section id="menu" class="">
                <nav class="nav-bottom">
            		<a href="/index.html" class="nav-link active">
            			<i class="fa fa-home "></i><span class="text">Головна</span>
            		</a>
            		<a href="/users.html" class="nav-link ">
            			<i class="fas fa-users"></i><span class="text">Контрагенти</span>
            		</a>            		
            		<a href="/" class="nav-link ">
            			<i class="fas fa-align-justify"></i><span class="text">Каталог</span>
            		</a>            		
            		<a href="/" class="nav-link ">
            			<i class="fa fa-dollar-sign"></i><span class="text">Замовлення</span>
            		</a>
	            </nav>
            </section>
        <div>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/script.js?v=2.0"></script>
    </body>
</html>